type hal_fingerprint_PLE, domain, binder_in_vendor_violators;
hal_server_domain(hal_fingerprint_PLE, hal_fingerprint)

type hal_fingerprint_PLE_exec, exec_type, vendor_file_type, file_type;
binder_use(hal_fingerprint_PLE)
init_daemon_domain(hal_fingerprint_PLE)

allow hal_fingerprint_PLE servicemanager:binder call;
allow hal_fingerprint_PLE keystore_service:service_manager find;
#allow hal_fingerprint_PLE gx_fpd_service:service_manager { add find };
allow hal_fingerprint_PLE tee_device:chr_file rw_file_perms;
allow hal_fingerprint_PLE servicemanager:binder transfer;
allow hal_fingerprint_PLE keystore:keystore_key add_auth;

binder_call(hal_fingerprint_PLE, gx_fpd)

r_dir_file(hal_fingerprint_PLE, firmware_file)

use_keystore(hal_fingerprint_PLE)

allow gx_fpd hal_fingerprint_PLE:binder call;
allow hal_fingerprint_PLE gx_fpd:binder { transfer call };

add_service(hal_fingerprint_PLE, hal_fingerprint_PLE_service)
